.App {
  text-align: center;
  color:ghostWhite;

}
body {
  background-color: #113076;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}



.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.weatherCard {

  display: flex;
  flex-direction:row;
  border:4px dotted black;
  width:80%;
  margin:2em auto;
  background-color: hsla(0,0%,100%,.1)!important;
}

.weatherIconHolder {
  border-radius: 50%;
  width:25%;


}
.weatherIcon {
  width:100%;
  height:100%;
}

.weatherCardInfoHolder{
  width:75%;
  text-align: center;
  margin-top:2em;
}
